dist/
node_modules/
.env
config/
logs/
.idea/
docs/.vitepress/dist
docs/.vitepress/cache
.claude/
.vs/
.github/workflows/docker-release.yml
# 4g0tt3nSou1's private workflow files, not for main branch/repo
.github/workflows/docker-publish.yml
personal.yml
personal2.yml